<!DOCTYPE HTML>
<html>
	<head>
		<title>PNR API for Indian Railways Train Inquiry</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="RESTful PNR API for Indian Railways Train Inquiry." />
		<meta name="keywords" content="Indian railways, pnr, api, rest" />
		<link rel="shortcut icon" href="/static/favicon.png" />
		<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" rel="stylesheet" type="text/css" />
		<!--[if lte IE 8]><script src="/static/js/html5shiv.js"></script><![endif]-->
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.dropotron.js"></script>
		<script src="/static/js/skel.min.js"></script>
		<script src="/static/js/skel-panels.min.js"></script>
		<script src="/static/js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="/static/css/skel-noscript.css" />
			<link rel="stylesheet" href="/static/css/style.css" />
			<link rel="stylesheet" href="/static/css/style-desktop.css" />
			<link rel="stylesheet" href="/static/css/style-noscript.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="/static/css/ie8.css" /><![endif]-->
	</head>
	<body class="homepage">
		<!-- Header -->
			<div id="header">
						
				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="#" id="logo"><span style="color:#C0392B; font-size: 60%">RESTful</span> <span style="font-weight: bold">PNR API</span></a></h1>
							<hr />
							<span class="byline" style="font-size: 85%;">Because you hate Indian Railways for not providing one. I do, too.</span>
							<br>
							<span class="byline" style="font-weight: bold; color: #1ABC9C; background: rgba(19, 32, 44, 0.8); border-radius: 15px; padding: 10px;"><span style="color: #9B59B6;">GET</span> http://pnrapi.dfth.in/pnr/<span style="color: #fff;">&lt;pnrnumber&gt;</span></span>
						</header>
						
						<footer>
							<iframe src="http://ghbtns.com/github-btn.html?user=sanketsaurav&type=follow&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="240" height="80"></iframe>
  							<iframe src="http://ghbtns.com/github-btn.html?user=sanketsaurav&repo=pnrapi&type=watch&count=false&size=large"
  allowtransparency="true" frameborder="0" scrolling="0" width="100" height="80"></iframe>

  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpnrapi.dfth.in&amp;width=100&amp;height=46&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=true&amp;appId=556488241090459" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:75px;" allowTransparency="true"></iframe>
						</footer>

						Made with <span style="color: #C0392B;">&hearts;</span> by <a href="http://fb.com/sanketsaurav">Sanket</a><br>
						<span style="font-size: 75%"><a href="http://geekwagon.net/ufl/license.txt">&copy; Universal Forfeit License</a></span>
					</div>
				
				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="http://dfth.in">Design From The Heart</a></li>
							<li><a href="http://github.com/sanketsaurav/pnrapi">Fork on Github</a></li>
							<li><a href="http://blog.sanketsaurav.com">Sanket's Blog</a></li>
						</ul>
					</nav>

			</div>
	</body>
</html>